@import "vars";

main {
  background: #000000;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
nav {
  width: $main-width;
  height: 58px;
  margin: 8px auto;
  display: flex;
  align-items: center;
  .logo {
    color: $main-color;
    font: 400 24px/36px "Actor", sans-serif;
    margin-right: 6%;
  }
  ul {
    width: 27vh;
    display: flex;
    list-style: none;
    justify-content: space-around;
    a {
      font: 400 18px/36px "Actor", sans-serif;
      text-decoration: none;
      color: $main-color;
      padding: 10px;
      letter-spacing: 3px;
      word-spacing: 2px;
    }
    a:hover {
      transform: scale(1.1);
      cursor: pointer;
      background-color: rgba(255, 255, 0, 0.665);
      border-radius: 4px;
      transition: all 0.1s ease-in-out;
      // transition-delay: 0.2s;
    }
  }
}

main {
  text-align: center;
}
.head {
  width: $main-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      color: $main-color;
      text-align: center;
      font: 500 84px/102px "Poppins", sans-serif;
    }
    .volcano {
      color: $main-color;
      text-align: center;
      font: 400 22px/34px "Source Sans Pro", sans-serif;
      position: relative;
      width: 410px;
      height: 98px;
    }
  }
}
img {
  max-width: 100%;
}
// phone
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main {
    width: 100%;
    align-items: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  nav {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 139, 155);
  }
  .head {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  nav ul li a {
    max-width: 100%;
    font-size: 78%;
  }
  .head .text {
    align-items: center;
    margin-bottom: 49%;
  }
}
.head .text h2 {
  width: 80%;
  font: 200 30px/20px "Poppins", sans-serif;
  text-align: center;
  margin-top: 0%;
}
.head .text .volcano {
  width: 100%;
  font: 200 20px/30px "Source Sans Pro", sans-serif;
  margin-bottom: -18%;
  text-align: center;
}

// ipad
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    max-width: 100%;
    align-items: center;
  }
  .img {
    max-width: 100%;
    height: auto;
  }
  nav {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(2, 249, 138, 0.58);
  }
  .head {
    width: 100%;
    margin-top: 15%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
  }
  nav ul li a {
    max-width: 100%;
    font-size: 78%;
  }
  .head .text {
    align-items: center;
    width: 73%;
  }
  .head .text h2 {
    width: 80%;
    font: 200 70px/20px "Poppins", sans-serif;
    text-align: center;
    margin-top: 0%;
  }
  .head .text .volcano {
    width: 100%;
    height: auto;
    font: 200 20px/30px "Source Sans Pro", sans-serif;
    // margin-top: -49px;
    // margin-bottom: 4%;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 2280px) {
  .main {
    max-width: 100%;
    align-items: center;
  }
  nav {
    width: 100%;
    /* display: block; */
    height: 61px;
    margin: 0px auto;
    display: flex;
    background-color: rgba(184, 18, 18, 0.58);
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  }
  .logo {
    color: $main-color;
    font: 400 24px/36px "Actor", sans-serif;
    // margin-right: 6%;
  }

  nav ul li {
    display: block;
    padding: -5px;
  }
  nav ul li a {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 22px;
  }
  .head {
    width: 90%;
    /* margin: 0 auto; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    margin-top: 4%;
  }
  .img {
    width: 75%;
    height: auto;
    // border-radius: 20%;
  }

  .head .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18%;
  }
  .head .text h1 {
    width: 81%;
    font: 500 92px/28px "Poppins", sans-serif;
  }
  .head .text .volcano {
    display: block;
    width: 70%;
    font: 400 22px/34px "Source Sans Pro", sans-serif;
    text-align: center;
  }
  a:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.665);
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
    // transition-delay: 0.2s;
  }
}
